.p {
    color: #bf1650;
    text-align: center;
  }

  .label {
      padding-bottom:2px;
      display: block;
      color: white;
    }
  .form {
		width:auto;
	}
  
  

    .input {
       display: block;
       widows: 100%;
   
     }
    .wrapper {
      display:flex;
      color: rgb(0, 0, 0);

    }
    .wrapper > div {
      font-size: 3vh;
      color: rgb(0, 0, 0);
      background: rgb(5, 5, 5);
      margin: 5px;
      padding: 10px;
      border-radius:none;
      
      }