.balance-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 0.5fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    min-height: 100vh;
    gap: 10px 12px;
    background: linear-gradient(90deg, 
  rgba(255,255,255,1) 0%, 
  rgba(212,212,212,0.7685117302052786) 44%, 
  rgba(147,149,149,1) 100%);
    grid-template-areas:
      "sidebarCont . balance-form ."
      "sidebarCont balance-table balance-table balance-table"
      "sidebarCont balance-table balance-table balance-table";
  }
  
  .balance-form { grid-area: balance-form;
  padding-top: 65px; }
  
  .balance-table { 
      grid-area: balance-table; 
      background-color: whitesmoke;
    padding-right: 100px; }
  
  .sidebarCont { grid-area: sidebarCont; }
  