.balance-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 7px 5px;
  min-height: 100vh;
  background: linear-gradient(90deg, 
  rgba(255,255,255,1) 0%, 
  rgba(212,212,212,0.7685117302052786) 44%, 
  rgba(147,149,149,1) 100%);
  grid-template-areas:
    "sidebarCont balance-form balance-form ."
    "sidebarCont balancetable balancetable ."
    "sidebarCont balancetable balancetable .";
}

.sidebarCont { grid-area: sidebarCont; }

.balance-form { grid-area: balance-form; }

.balancetable { grid-area: balancetable;
  display: flex;
  border-width:5px;  
  border-style:groove;
 }




 .balance{
  border: 5px solid green;
  } 
 .balancetable{
   background-color: white;
   max-height: 100vh;
   
   
   }
.balance-form{

  display:flex;   
 justify-self: stretch;
   place-items: center;
   .input{
     margin: 10px;
     box-shadow: inset;
   }
   .button-div{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 20px;
   }
}


         
     

       
