.Header {
    box-sizing: content-box;
    display: flex;
    background: rgb(209, 209, 209);
    justify-content: left;
    margin-bottom: 10px;
    border-bottom: 1.5px solid rgb(163, 163, 163);
  }
  .Dashboard {
    font-family: "Lucida Console", "Courier New", monospace;
    color: "#241F6E";
    font-size: 35px;
  }
  