  
.income{
 border: 5px solid green;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 min-height: 100vh; 
.incomeTable{
  border:5px solid red;
  display: flex;
  flex-direction: row;
  flex-basis: 75%;
  }
.IncomeForm{
  border: 5px solid blue;
  margin-top: 25px;
  margin-bottom: 20px;
  button{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    margin-top: 10px;
        }
      }


}
