
.sidebar {
        position: absolute;
        //width: 33.3333%;
        width: 11em;
        height: 100%;
        top: 0;
        overflow:hidden;
        background-color: #245a8a;
       
    }
    
    
.logo{
    width: 200px;
    height: 100px;


}  

.optionContainer{
    border:5px solid green;
    justify-self: baseline;
    
    
   }     
.options{
// border:5px solid blue;
 
} 




