.p {
  color: #6f6669;
  text-align: center;
}

.label {
  padding-bottom: 2px;
  display: block;
  width: auto;
}
.form {
  width: auto;
}

.wrapper > div {
  margin: 5px;
  padding: 10px;
}

.addForm {
  margin-top: 70px;
  padding: 30px;
  background:whitesmoke;
}
